<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Climate Solutions</title>
</head>
<body>
    <nav class="flex justify-between items-center px-4 py-2 bg-gray-800 text-white">
        <a href="/" class="text-2xl font-bold">Climate Solutions</a>
        <div class="text-lg hover:text-blue-400 active text-3 xl font-bold">
            <a href="/about">About</a>
     <details class="dropdown dropdown-end">
    <summary class="btn">Sector</summary>
    <ul class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52 text-black">
        <li><a href="/solutions/projects?sector=Electricity">Electricity</a></li>
        <li><a href="/solutions/projects?sector=Industry">Industry</a></li>
        <li><a href="/solutions/projects?sector=Transportation">Transportation</a></li>
    </ul>
</details>
    </div>
    </nav>
    <div class="container mx-auto">
        <div class="hero bg-base-200 min-h-screen">
            <h1 class="text-5xl font-bold">Find Climate Solutions</h1>
            <a href="/solutions/projects" class="btn btn-xs">View Projects Here</a>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div class="industry">
                <figure><img src="https://drawdown.org/sites/default/files/solutions2020/solution_alternativecement02.jpg" alt="Industry Solution"></figure>
                <h2>Industry</h2>
                <p>We can deal With these problems with this type of solutions</p>
           <a href="/solutions/projects/2" class="btn btn-xs"></a>
            </div>
    <div class="Transportation">
        <figure><img src="https://drawdown.org/sites/default/files/solutions2020/solution_bicycle_infrastructure.jpg" alt="Transportation Solution"></figure>
<h2>Transportation</h2>
<p>Let's solve this issue by taking action</p>
<a href="/solutions/projects/3" class="btn btn-xs"></a>
    </div>
    <div class="Electricity">
        <figure><img src="https://drawdown.org/sites/default/files/solutions/solution_biomass01.jpg" alt="Electricity solution"></figure>
        <h2>Electricity</h2>
        <p>It is important to tackle this issue</p>
    <a href="/solutions/projects/4" class="btn btn-xs"></a>
    </div>
        </div>
    </div>


</body>
</html>